body {
  background-color: rgb(255, 255, 255);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  padding: 7px 7px;
  font-size: 20px;
  background-color: antiquewhite;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 130px;
}



.sticky {
  position: fixed;
  top: 0;
  width: 98%
}

.h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h2 {
  font-size: 22px;
  text-align: center;
  font-style: oblique;
}

.h3 {
  font-size: 15px;
  text-align: center;
}

.centerwrapper {
  text-align: center;
}

.product1 {
  display: inline-block;
}

img.one {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}

img.two {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}

img.three {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}
img.forgot{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}


.four{
  display: inline-block;
  padding-left: 80px;
  padding-right: 110px;
}
.five{
  display: inline-block;
  padding-left: 30px;
  padding-right: 60px;
}
.six{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}
.forgot{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

img.four {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}

img.five {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}

img.six {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}
img.forgot2 {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}

.seven{
  display: inline-block;
  padding-left: 5%;
  padding-right: 4%;
}
.eight{
  display: inline-block;
  padding-left: 5%;
  padding-right: 4%;
}
.nine{
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
}
.forgot2{
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
}

img.seven {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}

img.eight {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}

img.nine {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}
img.forgot3 {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  padding: 40px 45px 0px;
}

.ten{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}
.eleven{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}
.twelve{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}
.forgot3{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 230px;
  left: 35px;
  background: whitesmoke;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: blueviolet;
}





